.jumbotron {
   background-size: cover;
   color: white;
   text-shadow: 7px 5px 5px black;
   height: 70vh;
   background-position-y: 30%;
   border-bottom: 5px solid lightblue;
   border-top: 5px solid lightblue;
}
.display-4 {
   font-size: 10rem;
}

#articles {
   text-align: center;
}
.article {
   display: inline-block;
   margin: 15px;
   position: relative;
}

.article:hover {
   box-shadow: 5px 10px 5px gray;
   zoom: 1.1;
   transition-duration: 500ms;
}

.article a:hover {
   cursor: pointer;
}
h5 {
   color: black;
}
i {
   position: absolute;
   margin: 5px;
   z-index: 3;
   color: blue;
   background: white;
   border-radius: 10%;
}
i:hover {
   cursor: pointer;
}
.lead {
   color: lightblue;
   font-size: 1.7rem;
   text-shadow: 1px 1px 1px black;
   padding: 0px 5px 0px 5px;
}

.delete {
   color: red;
   position: absolute;
   margin: 5px;
   border-radius: 10%;
   background: white;
   right: 5px;
   top: 5px;
}
.note.i {
   position: relative;
   margin: 5px;
   z-index: 2;
}
button.note {
   position: absolute;
}
.lead {
   color: blue;
   text-shadow: 2px 2px white;
   background: whitesmoke;
   opacity: 0.5;
   border-radius: 5px;
   padding: 0px 5px 0px 5px;
}
